*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

.container .process_container{
    width: 350px;
    max-height: 100%;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.process_container::before{
    content:"";
    width: 100%;
    height: 4px;
    background: rgba(224,224,224,1);
    position: absolute;
    z-index: -1;
}
.process_container .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 3px solid  rgba(224,224,224,1);
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process_container  .active{
    border-color: rgba(52,152,219,1);
}
.process_container .process{
    height: 4px;
    position: absolute;
    background: rgba(52,152,219,1);
}
.btn {
    background-color: rgb(52 152 219);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:disabled{
    background: #e0e0e0;
    cursor: not-allowed;
}