*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main{
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
}
.panel {
    flex: 0.5;
    height:90vh;
    background: skyblue;
    margin: 10px;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.8s linear;
    position: relative;
}
.main .panel label{
    width: 100%;
    height: 100%;
}
.main .panel label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.main .panel label input[name="checked"]{
    visibility: hidden;
}
.main .panel p{
    color: #FFFFFF;
    font-size: 50px;
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-family: 'Microsoft JhengHei UI Light',sans-serif;
    cursor: pointer;
    opacity:0;
    transition: all 0.8s;

}
.select_card{
    flex: 2;
}
.main .panel .word{
    opacity:1;
    transition: all 0.8s;
}

